#menu {width: 400px;
        border: 3px solid gray;}

a { color: black;
    padding-left: 25px;
    padding-right: 25px;
    background: rgb(236, 234, 234);
    text-decoration: none;}

 
a:hover { background-color: rgb(4, 252, 57);}

a:active { background-color: rgb(4, 252, 57);}

a:visited { color: white;}