•	body {color: blue; background-color: gray; font-family: 'Courier New', Courier, monospace}

•	ul {width: 20%;  background-color: rgba(255, 0, 242, 0.349)}

•	h1 {color: white; word-spacing: 20px; font-family: 'Courier New', Courier, monospace}

•	p {text-align: center; width: 21%; background-color: rgba(218, 184, 32, 0.541)}