body {color:#0000FF;  
      background-color: #CCFFCC;
      font-family: georgia, cambria, serif;
      font-size: 16px; }
      
h1 {color: red;
    font-family: verdana, calibri, sans-serif;
    font-size: 32px;}

h2 {color: #AA0000;
    font-family: verdana, calibri, sans-serif;
    font-size: 24px;}

span {color: #006600;}

strong {font-size: 20px;}

em {color: #FFF;
    background-color: #000;}

