h1 {border:1px solid gray;
    margin-left: 15%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serify;}

#unidad1 {color:rgb(255, 102, 0)}

#unidad2 {color:rgb(255, 102, 0)}

h4 {color:green}

#lmsgi {font-size: larger;
        float: right; width: 70%;
        color: rgb(255, 102, 0);}

a {text-decoration: none;
    color: rgb(255, 102, 0);}

nav li a {color: black;}

nav li {padding-top: 5px;
    padding-bottom: 5px;}

nav {float:left; width: 15%;}

section {float: right; width: 85%;}