ul li:hover p.ayuda {display: inherit;}
li:hover {background-color: #FF9; padding: 15px;}
* {display: block;}
p {display: none;}
span input:focus {border: solid 4px #E6B700;}
label.titulo {font-weight: bold;}
span.requerido {color: red; }